<div class="row">
  <aside class="col-md-6 offset-md-3 mt-3">
    <%= render 'tabs' %>
    <%= area_chart @yearly_records.group_by_month(:start_time).sum(:sugar), xmin: Date.today.last_year, xmax: Date.today, curve: false, messages: {empty: "No data"} %>
  </div>
</div>

<%= render 'buttons'%>