<div class="row">
  <div class="offset-md-3 col-md-6 mt-3">
    <ul class="list-group">
      <li class="list-group-item active">
        <h1 class="text-center" id="explain-title">What's Carb Labo ?</h1>
      </li>
      <li class = "list-group-item" >
        <p>栄養表示から糖質量を計算するサイトです。<br>
        エネルギー源として重要な糖質(炭水化物の一部)、脂質、たんぱく質を三大栄養素と言います。<br>
        これらを燃焼したとき、体で利用できるエネルギーの値は1gあたり糖質4kcal、脂質9kcal、たんぱく質4kcal程です。</p>
        <p><strong>カロリー(kcal) = 糖質(g)×4kcal + 脂質(g)×9kcal + たんぱく質(g)×4kcal</strong></p>
        <p>上記の考えを利用することにより、カロリーと三大栄養素の量から大まかに糖質量を計算することができます。</p>
        <p><strong>糖質(g) = ( カロリー(kcal) - 脂質(g)×9kcal - たんぱく質(g)×4kcal ) ÷4</strong></p>
        <%= link_to '試しに糖質計算してみる', test_path, class: 'btn btn-info offset-md-3 col-md-6 mt-3 mb-2' %>
      </li>
    </ul>
    <!--<h3>最近のツイート</h3>-->
    <!--<% @tweets.each do |tweet| %>-->
    <!--  <blockquote class="twitter-tweet"><a href="<%= tweet.url %>"></a></blockquote>-->
    <!--<% end %>-->
    <!--<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
    
    <a class="twitter-timeline" href="https://twitter.com/Carb_Labo?ref_src=twsrc%5Etfw">Tweets by Carb_Labo</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <div class="text-right">
      <div class="d-inline mr-3">
        <a href="https://twitter.com/Carb_Labo?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-show-count="false">Follow @Carb_Labo</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="d-inline float-right">
        <a href="https://twitter.com/messages/compose?recipient_id=1148992924513755136&ref_src=twsrc%5Etfw" class="twitter-dm-button" data-size="large" data-show-screen-name="false" data-screen-name="https://twitter.com/Carb_Labo" data-show-count="false">Message @https://twitter.com/Carb_Labo</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</div>
