<div class="col-md-1 d-inline">
  <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://carb-labo.herokuapp.com/"><i class="fab fa-facebook-f" id="icon-fb"></i></a>
</div>


<div class="col-md-1 d-inline">
  <a target="_blank" href="https://social-plugins.line.me/lineit/share?url=http://carb-labo.herokuapp.com/"><%= image_tag('Line.png', alt: "Lineアイコン", id: "icon-line") %></a>
</div> 

<div class="col-md-1 d-inline">
  <i class="fab fa-google-plus" id="icon-gplus"></i>
</div>