<div class="col-md-1 d-inline">
  <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://carb-labo.herokuapp.com/"><%= image_tag('facebook.png', alt: "facebookアイコン", id: "icon-fb", class: "icon") %></a>
</div>


<div class="col-md-1 d-inline">
  <a target="_blank" href="https://social-plugins.line.me/lineit/share?url=http://carb-labo.herokuapp.com/"><%= image_tag('line.png', alt: "Lineアイコン", id: "icon-line", class: "icon") %></a>
</div> 

<!--<div class="col-md-1 d-inline">-->
<!--  <i class="fab fa-google-plus" id="icon-gplus"></i>-->
<!--</div>-->