<div class="col-md-1 d-inline">
  <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://carb-labo.herokuapp.com/"><i class="fab fa-facebook-f" id="icon-fb"></i></a>
</div>

<div class="col-md-1 d-inline">
  <div class="line-it-button" data-lang="ja" data-type="share-c" data-ver="3" data-url="http://carb-labo.herokuapp.com/" data-color="default" data-size="large" data-count="false" style="display: none;"></div>
  <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
</div> 

<div class="col-md-1 d-inline">
  <i class="fab fa-google-plus" id="icon-gplus"></i>
</div>